@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0B1C2D;
  color: white;
  min-height: 100-vh;
}

/* Força a barra branca a ser redonda e não esticar */
input {
  outline: none;
  border: none;
}